<!-- Login -->
<section class="container g-pt-100 g-pb-20">
  <div class="row justify-content-between">
    <div class="col-md-6 col-lg-5 flex-md-unordered g-mb-80">
      <div class="g-brd-around g-brd-gray-light-v3 g-bg-white rounded g-px-30 g-py-50 mb-4">
        <header class="text-center mb-4">
          <h1 class="h3 g-color-black g-font-weight-300">Identificaci칩n de usuario</h1>
        </header>

        <!-- Form -->
        <%= form_with(url: sessions_path, class: 'g-py-15', data: { remote: false }) do |form| %>
          <div class="mb-4">
            <div class="input-group g-brd-primary--focus">
              <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5">
                  <i class="icon-finance-067 u-line-icon-pro"></i>
                </span>
                <%= form.text_field :username, class: 'form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15', placeholder: 'Usuario', required:true %>
            </div>
          </div>

          <div class="mb-4">
            <div class="input-group g-brd-primary--focus mb-4">
              <span class="input-group-text g-width-45 g-brd-right-none g-brd-gray-light-v4 g-color-gray-dark-v5">
                  <i class="icon-media-094 u-line-icon-pro"></i>
                </span>
                <%= form.password_field :password, class: 'form-control g-color-black g-brd-gray-light-v3 g-py-15 g-px-15', placeholder: 'Contrase침a', required: true %>
            </div>
          </div>
          <div class="mb-4">
            <button class="btn btn-block u-btn-primary g-py-13" type="submit">Ingresar</button>
          </div>
        <% end %>
        <!-- End Form -->
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger" role="alert">
              <strong><i class="fa fa-exclamation-circle"></i></strong> <%= msg %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 flex-md-first g-mb-80">
      <div class="mb-5">
        <h2 class="h1 g-font-weight-300 mb-3">Bienvenido!</h2>
        <p class="g-color-gray-dark-v5">Ingrese usuario y contrase침a, luego precione ingresar para iniciar sesi칩n en el sistema.</p>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <!-- Icon Blocks -->
          <div class="media mb-4">
            <div class="d-flex mr-3">
              <span class="align-self-center u-icon-v1 u-icon-size--lg g-color-primary">
                  <i class="fa fa-folder-open-o"></i>
                </span>
            </div>
            <div class="media-body align-self-center">
              <h3 class="h5">Sistema de control documentario</h3>
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Login -->
