<%= form_with(model: person, remote: true, id: 'form-person-set-permission', class: 'g-pa-10') do |form| %>
  <div class="form-group">
    <label class="d-flex align-items-center">
      <div class="ml-4 u-check">
        <%= form.check_box :can_authorize, class: 'g-hidden-xs-up g-pos-abs g-top-0 g-right-0' %>
        <div class="u-check-icon-radio-v8">
          <i class="fa" data-check-icon="" onclick="set_permission_person()"></i>
        </div>        
      </div>
    </label>
  </div>
<% end %>