<%= render( partial: 'shared/table', 
            locals: { table_id: 'permission_fuel_load_people', 
                      color: 'cyan', 
                      icon: 'fa-address-card-o',
                      title: "Listado de personal", 
                      col_names: [ 'Nombre', 'Autoriza', 'Carga sin ticket', 'Carga sin km/hs' ] }) %>

<button type="button" class="btn u-btn-darkred" data-dismiss="modal">Cerrar</button>