$("#modal").html("<%= j (render partial: 'shared/modal', locals:{ size: 'lg', content: 'form' } ) %>")
$('.select-vehicle').select2({ width: '100%',theme: "bootstrap4", placeholder: "Seleccione vehiculo (*)" })
$('.select-person-load').select2({ width: '100%',theme: "bootstrap4", placeholder: "Quien carga (*)" })
$('.select-person-authorize').select2({ width: '100%',theme: "bootstrap4", placeholder: "Quien autoriza (*)" })
$('.select-ticket-book').select2({ width: '100%',theme: "bootstrap4", placeholder: "Talonario (*)" })
$('.select-ticket').select2({ width: '100%',theme: "bootstrap4", placeholder: "Ticket (*)" })
$("#modal").modal('show')


// document.getElementById('form-fuel-vehicle').addEventListener('submit', (e) => {
//   e.preventDefault()
//   e.preventDefault()
//   const form = new FormData()
//   form.append('fuel_to_vehicle[ticket_id]', '1' )
//   comodin = e.target
// })

$("#form-fuel-vehicle").on("ajax:success", function(event) {
    fuel_suppliers_table.ajax.reload(null,false)
    fuel_vehicles_table.ajax.reload(null,false)
    let msg = JSON.parse(event.detail[2].response)
    noty_alert(msg.status, msg.msg)
    $("#modal").modal('hide')
  }).on("ajax:error", function(event) {
	let msg = JSON.parse( event.detail[2].response )
  comodin = msg
	set_input_status_form('form-fuel-vehicle', 'fuel_to_vehicle', msg)
})

function get_tickets() {
  const ticket_book_id = document.getElementById('fuel_to_vehicle_ticket_book_id').value
  fetch(`/ticket_books/${ticket_book_id}/get_tickets`)
  .then( response => response.json() )
  .then( data => {
    const ticket_select = document.getElementById('fuel_to_vehicle_ticket_id')
    ticket_select.innerHTML = ''
    data.tickets.map( ticket => {
      ticket_select.innerHTML += `<option value=${ticket.id}>${ticket.number}</option>`
    } )
  })
}

document.getElementById('fuel_to_vehicle_date').addEventListener('change', e => {
  if (<%= !@closure_date.nil? %>) {
    const date_in = new Date( `${e.target.value}T00:00:00` )
    const end_date = new Date( "<%= @closure_date %>T00:00:00" )
    if (date_in <= end_date) {
      // document.getElementById('fuel_to_vehicle_computable_date').value = ''
      // document.getElementById('fuel_to_vehicle_computable_date').parentElement.parentElement.style.display = ''
      document.querySelector('.fuel_to_vehicle_date').innerHTML = `El ultimo cierre enviado tiene fecha ${end_date.toLocaleDateString('es-AR')}, esta carga se sumara al cierre correspondiente a la fecha` 
    } else {
      document.getElementById('fuel_to_vehicle_computable_date').parentElement.parentElement.style.display = 'none'
      document.getElementById('fuel_to_vehicle_computable_date').value = e.target.value
      document.querySelector('.fuel_to_vehicle_date').innerHTML = ''
    }
  } else {
    document.getElementById('fuel_to_vehicle_computable_date').value = e.target.value
  }
})

document.getElementById('fuel_to_vehicle_mileage').addEventListener('change', e => {
  const vehicle_id = document.getElementById('fuel_to_vehicle_vehicle_id').value 
  const mileage = e.target.value
  if (vehicle_id != '') {
    fetch( `/vehicles/${vehicle_id}/status_mileage_for_service?mileage=${mileage}` )
      .then( response => response.json())
      .then( response => {
        const alert = document.querySelector( '#form-fuel-vehicle #info_alert' )
        if (response.msg.length != '') {
          alert.style.display = ''
          alert.querySelector('.media-body').innerHTML = response.msg
        } else {
          alert.style.display = 'none'
        }
      })
  }
})


$('#fuel_to_vehicle_vehicle_id').change( e => {
  const vehicle_id = e.target.value 
  const mileage = document.getElementById('fuel_to_vehicle_mileage').value 
  if (mileage != '') {
    fetch( `/vehicles/${vehicle_id}/status_mileage_for_service?mileage=${mileage}` )
      .then( response => response.json())
      .then( response => {
        const alert = document.querySelector( '#form-fuel-vehicle #info_alert' )
        if (response.msg.length != '') {
          alert.style.display = ''
          alert.querySelector('.media-body').innerHTML = response.msg
        } else {
          alert.style.display = 'none'
        }
      })
  }
} )