<div class="modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header g-brd-blue g-bg-blue">
      <h5 class="modal-title text-white"><strong><%= @title_modal%></strong></h5>
      <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-12 row mx-auto">
        <% document_renovation.files.each do |renovation| %>
  				<div class="col-2 mb-2">
            <%= link_to '<i class="fa fa-file-pdf-o fa-2x"></i>'.html_safe, renovation,class:'text-center px-1 py-1', target: '_blank' %>
          </div>
  			<% end %>
      </div>
    </div>
  </div>
</div>