<div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header g-brd-orange g-bg-orange">
      <h5 class="modal-title text-white"><strong><%= @title_modal%></strong></h5>
      <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="card g-brd-blue rounded g-mb-30">
        <h3 class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 mb-2 rounded-0">
          <i class="fa fa-book"></i>
          Tickets del talonario ...
        </h3>
         <div class="px-2  pb-2">
          <table id="tickets_table" class="table table-sm table-striped dt-responsive w-100 u-table--v1" data-show='show'>
            <thead>
              <tr>
                <th>Ticket</th>
                <th>Usado</th>
                <th>Estado</th>
                <th>Habilitado</th>
              </tr>
            </thead>
            <tbody>
              <!-- Completo con ajax -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_change_status" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"> </div>