<h1>Registro y renovación de documentación de vehículos</h1>

<div class="g-mb-30">
  <!-- Figure -->
  <figure class="u-info-v7-1 u-info-v7-1__item g-bg-white g-rounded-4">
		<div class="row justify-content-start ml-2 col-10 g-py-10">
			<div class="col-6 col-md-4 col-lg-3">
				<h3>Documentos de: </h3>	
			</div>
			<div class="col-4">
				<%= form_with(url: '#', id: 'form_vehicle_documentation') do |form| %>
					<%= form.select(:vehicle_select, @vehicles.collect {|v| ["#{v.code}", v.id]}, {},
				                    	required: :true, class: 'form-control assigned_select_data',
				                    	onchange: 'status_documentation.populate_with_vehicle_data()') %>
				<% end %>
			</div>
		</div>
    <div id="vehicle_information" class="g-py-20 g-px-10 table-responsive" style="display:none">
        <div id="status_alert" class="col-6" style="display: none;">
          <!-- Alert Danger -->
          <div class="alert fade show g-bg-red-opacity-0_1 g-color-lightred rounded-0" role="alert">
            <div class="media">
              <div class="media-body">
              </div>
            </div>
          </div>
          <!-- End Alert Danger -->
        </div>    

        <table class="">
          <tbody>
            <tr>
              <td class="col-2"><b>Interno</b></td>
              <td><u id="vehicle_code"></u></td>
            </tr>
            <tr>
              <td class='col-2'><b>Dominio: </b></td>
              <td class='col-2'><u id="vehicle_domain"></u></td>
              <td class='col-2'><b>Año: </b></td>
              <td class='col-2'><u id="vehicle_year"></u></td>
            </tr>
            <tr>
              <td class='col-2'><b>Marca: </b></td>
              <td class='col-2'><u id="vehicle_brand"></u></td>
            </tr>
              <td class='col-2'><b>Modelo: </b></td>
              <td class='col-2'><u id="vehicle_model"></u></td>
            <tr>
              <td class='col-2'><b>Tipo: </b></td>
              <td class='col-2'><u id="vehicle_type"></u></td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- End Figure List -->
  </figure>
  <!-- End Figure -->
</div>

<%= render 'tables' %>