$("#modal").html("<%= j (render partial: 'modal_disable', locals:{ assignment_profile_id: @person_profile.id } ) %>")

document.querySelector('#person_profile_data').innerHTML = `
    <ul> 
      <li><b>Asignado a:</b> <%= @person_profile.assignated.fullname%></li>
      <li><b>Perfil:</b> <%= @person_profile.profile.name%> </li>
    </ul>
`

document.getElementById('disable_info').innerHTML = `
  <ul>
    <% @documents.order(:name).each do |document| %>
      <% if !@person_profile.shared_document(document.id) %>
        <li><%= document.name %></li>
      <% end %>
    <% end %>
  </ul>
`

setInputDate('#form-disable-person-profile #end_date')

$("#modal").modal('show')

$("#form-disable-person-profile").on("ajax:success", function(event) {
  people_profiles_table.ajax.reload(null,false)
  let msg = JSON.parse(event.detail[2].response)
  noty_alert(msg.status, msg.msg)
  $("#modal").modal('hide')
}).on("ajax:error", function(event) {
  let msg = JSON.parse( event.detail[2].response )
  $.each( msg, function( key, value ) {
    $('#form-disable-person-profile #end_date').addClass('is-invalid')
    $('#form-disable-person-profile .end_date').text( value ).show('slow')
  })
})