<section class="container g-py-10">
  <h1>Reportes</h1>
  <h3>Seleccione el informe que desea descargar</h3>
  <%= link_to "<i class='fa fa-plus'></i> Listar personal".html_safe, people_reports_path(format: :xlsx ), 
              class: 'btn u-btn-outline-indigo u-btn-hover-v1-2 mb-2'%>

  <%= link_to "<i class='fa fa-plus'></i> Informe matriz de personas".html_safe, matriz_reports_path(format: :xlsx ), 
              class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 ml-2'%>

   <%= link_to "<i class='fa fa-plus'></i> Informe matriz de vehiculos".html_safe, matriz_vehicles_reports_path(format: :xlsx ), 
              class: 'btn u-btn-outline-cyan u-btn-hover-v1-2 mb-2 ml-2'%>
</section>